/* Give your page a fun background color */
body {
    background-color: #f0e68c; /* a light khaki color for fun */
}

/* Make the header and footer a different color from the background */
header, footer {
    width: 100%;
    background-color: #695acd; 
    color: rgb(246, 238, 238);
    padding: 10px 0; 
    box-sizing: border-box;
}

/* Align the h1 containing your name in the center of the header*/
header h1 {
    margin: 0;
    text-align: center;
}

/* Make your p tag a different color and italic */
p {
    color: #f5f4f3e8; 
    font-style: italic;
}

/* Put a border around your image */
img {
    border: 1px solid #0303c1; 
    width: 33.33%; 
    height: auto; 
    max-width: 100%;
}

/* Change the font-family of your list */
ul, ol {
    font-family: 'Roboto','Arial', sans-serif;
}
